@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


* {
  padding: 0;
  margin: 0;
}

html {
  background-color: hsl(233, 47%, 7%);
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/*card*/

.card {
  display: flex;
  height: 400px;
}

/*left*/

.card_left {
  text-align: left;
  display: flex;
  padding: 50px;
  border-radius: 10px 0 0 10px;
  background-color: hsl(244, 38%, 16%);
  max-width: 375px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text:not(h1) {
  font-size: 15px;
}

.text h1 {
  font-family: 'Inter';
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.text p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

.text_down {
  display: flex;
  justify-content: space-between;
}

.num {
  display: block;
  margin-bottom: 10px;
  font-family: 'Inter';
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}

.text_down_num {
  font-family: 'Inter';
  color: hsla(0, 0%, 100%, 0.6);
}

strong {
  color: hsl(277, 100%, 70%);
}

/*right*/

.card_right {
  position: relative;
  display: block;
  max-width: 485px;
}

.sob {
  background-color: hsl(277, 97%, 62%);
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0px;
  position: absolute;
}

img {
  border-radius: 0 10px 10px 0px;
  height: 100%;
}

.card_right span{
  position: relative;
  opacity: 0.5;
}

.footer {
  text-align: center;
  color: #fff;
  font-family: 'Inter';
  margin-top: 10px;
}

.footer a{
  text-decoration: none;
  color: hsl(277, 97%, 62%);
}

@media (max-width: 760px){

  * {
    margin: revert;
  }

  .container {
    display: block;
    height: 100%;
  }

  .card {
    flex-direction: column-reverse;
    height: 100%;
    padding: 100px 25px;
  }

  .card_left {
    max-width: 763px;
    border-radius: 0 0 10px 10px;
    padding: 50px 30px;
  }

  .card_right {
    max-width: 763px;
  }

  .text {
    text-align: center;
    margin: auto;
  }

  .text_down {
    flex-direction: column;
  }

  .sob {
    border-radius: 10px 10px 0 0;
  }

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .text_down div {
    margin-bottom: 20px;
  }

  .text_down div:first-child {
    margin-top: 30px;
  }

  .num {
    font-size: 25px;
  }
}
